<div class="calculator">
    <h2>Calculadora de Investimento CDB</h2>
    <div>
      <label for="investimentoInicial">Investimento Inicial (R$)</label>
      <input id="investimentoInicial" currencyMask [(ngModel)]="investimentoInicial" required  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
    </div>
    <div>
      <label for="meses">Número de Meses</label>
      <input type="number" id="meses" [(ngModel)]="meses" required>
    </div>
    <button (click)="calculateInvestment()">Calcular</button>
    <div *ngIf="valorBruto !== undefined">
      <h3>Resultados:</h3>
      <p>Total Bruto: R$ {{ valorBruto }}</p>
      <p>Imposto: R$ {{ imposto }}</p>
      <p>Total Líquido: R$ {{ valorLiquido }}</p>
      <p>Rendimento Bruto: R$ {{ rendimentoBruto }}</p>
    </div>
  </div>